html { font-family: sans-serif; background: local; padding: auto; color: black; }
body { max-width: auto; margin: auto; background: white; }
h1 { font-family: serif; margin: auto; }
h1.pageTitle { position: relative; top: 1; left: 0; width: 95%; text-align: center; }
img.logo { position: relative; display: block; margin-top: 1; margin-left: auto; margin-right: 2%; width: 10%; float: right; }
a { color: darkturquoise; }
.select { position: relative; margin-top: 5%; margin-left: 20%; width: 50%; text-align: left; padding: 0; border: none; }
.pathHome { position: relative; bottom: 10; left: 2.5%; width: 95%; text-align: justify; border: none; }
.nav { position: relative; border: none; list-style-type: none; text-align: center; padding: 0; width: 95%; margin-bottom: 5%; margin-left: auto; margin-right: auto; }
.nav li { display: inline; padding-inline: 10%; }
div.mainGallery { position: relative; margin-left: 15%; margin-bottom: 5%; margin-top: 2%; border: 1px solid black; width: 70%; text-align: center; }
div.mainGallery li { list-style: none; }
div.mainGallery img { width: 50%; height: auto; vertical-align: middle; text-align: center; }
div.subGallery { position: relative; margin-left: 15%; margin-bottom: 2%; margin-top: 5%; border: 1px solid black; width: 70%; text-align: center; }
div.mainGallery li { list-style: none; text-align: left; }
div.subGallery img { width: 50%; height: auto; vertical-align: middle; text-align: center; }
.key { color: black; font-weight: bold; font-style: italic; }